<!-- <!DOCTYPE html>
<html lang="en">
<head> -->
<!-- <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
  integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<title>FAQ</title>
</head>

<body>
  <%- include('header') -%>
  <div class="container">   
    <div class="p-1 col-sm-12 text-dark">
      <h4>1. Why is there a quota?</h4>
   <p class="text-muted">
     Every account has a quota of 20 pieces (for a year -- I am still working on this).
     The intent is to ensure that there is enough for others who needs these blessings as well. 
     We should try to recycle within the same family where children are the same gender.
   </p>
      <H4>2. Why is there no house attire?</H4>
   <p class="text-muted">
     This is intended for the general uniform of the school
   </p>
      <h4>3. Why is my school missing?</h4>
   <p class="text-muted">
    This started as a mini-project for my friends in my kid's school. If there is demand for other schools, please write me at regina_cheong@hotmail.com or 1reginacheong@gmail with the subject "Please add school in uniformX" and specify the school and your details to get back in touch should I require more info."
   </p>
      <h4>4. Why is there only primary schools?</h4>
   <p class="text-muted">
    I am not sure if there is demand for secondary schools. I will be happy to help extend this to include secondary schools.
   </p>

         <h4>5. Why is this website so amateurish?</h4>
   <p class="text-muted">
    That is because I am an amateur with only limited experience! 
   </p>


   <button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>
</div>
</div>


</body>

</html>  