<!-- <!DOCTYPE html>
<html lang="en">
<head> -->
<!-- <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
  integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<title>Show uniforms</title>
</head>

<body>
  <%- include('header') -%>

    <div class="container" style="background-color:whitesmoke; padding-bottom: 50px ">

      <div class="p-5 col-sm-12 d-flex justify-content-center text-dark">
        <img src="/nobg.png" width="280" height="280">
      </div>
      <div class="p-3 col-sm-8 container-fluid">
        <div>1 in 10 families in Singapore struggles to put food on the table (<a
            href="https://www.straitstimes.com/singapore/10-of-singaporeans-struggle-to-get-sufficient-safe-and-nutritious-food-smu-study"
            target="_blank">Source</a>). With ONLY 4% of 137,000 tonnes of textile and leather waste that was generated
          in 2020 alone being recycled (<a
            href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling#:~:text=2020%20waste%20statistics%20and%20overall%20recycling"
            target="_blank">according to NEA</a>), this project was inspired not only to help the needy families but
          also for those who believe in reusing to
          help the environment</div>
      </div>
      <div class="p-3 col-sm-8 container-fluid">
        <div>Membership is free and by joining the platform, you agree that your personal contact details will be shared
          with the person whom you are obtaining/giving the uniforms orders.While every effort is attempted to protect
          your personal data, please understand that I cannot be responsible should your data be leaked and your
          membership is consent to this possibility</div>
      </div>
      <div class="p-3 col-sm-8 container-fluid">
        <div>A special word of thanks to my mentor, <a
            href="https://www.linkedin.com/in/liam-leung-36504976/?originalSubdomain=hk" target="_blank">Liam Leung</a>
          who has supported <a href="https://www.linkedin.com/in/regina-cheong/?originalSubdomain=sg"
            target="_blank">me</a> in my growth journey as a full stack developer to make this website possible.</div>
      </div>
    </div>
    </div>
</body>

</html>