<!-- <!DOCTYPE html>
<html lang="en">
<head> -->
<!-- <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
  integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<title>Show uniforms</title>
</head>

<body>
  <%- include('header') -%>
</body>

<div class="container rounded" style="background-color:whitesmoke">
  <div class="p-5 col-sm-12 d-flex justify-content-center text-dark">
    <img src="/nobg.png" width="280" height="280">
  </div>
  <div class="p-3 col-sm-12 d-flex justify-content-center text-dark">
    <para>1 in 10 families in Singapore struggles to put food on the table. With clothes being one of the biggest culprit
      for environmental damage (an estimated 92 million tons of textile waste is created annually from the fashion
      industry), this project was inspired not only to help the needy families but also those who believe in reusing to
      help the environment</para>
  </div>
  <div class="p-3 col-sm-12 d-flex justify-content-center text-dark">
    <para>Membership is free and by joining the platform, you agree that your personal contact details will be shared with the person whom you are obtaining/giving the uniforms orders.While every effort is attempted to protect your personal data, please understand that I cannot be responsible should your data be leaked and your membership is consent to this possibility</para>
  </div>
  <div class="p-3 col-sm-12 d-flex justify-content-center text-dark">
    <para>Some special word of thanks to my mentor, Liam Leung and husband, Aaron Gong who have supported me in my growth journey as a full stack developer to make this website possible.</para>
  </div>
</div>

</html>