<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
  integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<title>Edit User Photo</title>
</head>

<body>
  <%- include('header') -%>
     <div class="container">
         <h4>Upload photo</h4>
      <form action="/add_photo" method="post" enctype="multipart/form-data">

        <label for="photo">select photo:</label><br />
        <input multiple type="file" name="photo" />
        <input type="submit" value="Submit" />
      </form>
    </div>
    <br />
    <hr />
    <br />

</body>

</html>